<ion-view view-title="Account">
 
  <div class="bar bar-header bar-stable">
  <h1 class="title">Bill Zen</h1>
</div>
  <!--
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
  -->


<ion-content ng-controller="AccountCtrl">

  

    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/600x800">
    
</ion-content>
<ion-footer-bar class="bar-stable">
<div class="button-bar">
  <button class="button button-large button-clear button-positive text-center" ng-click="takePicture()">Capture
</button>
</div>
  
</ion-footer-bar>

</ion-view>
